body {
    background-color: rgb(206, 243, 222);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#home {
    display: flex;
    color: white;
    height: 60vh;
    flex-direction: column;
    padding: 20px 200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 49);

}

#home h1 {
    margin-bottom: 20px;

}

#home p {
    margin-top: auto;
    margin-bottom: 15px;

}

#home button {
    background-color: rgb(9, 37, 9);
    color: white;
    border: 1px solid white;
    border-radius: 18px;
    padding: 10px 20px 10px;
    transition: all 1ms ease-in-out 1ms;
    font-size: larger;
}

#home button:hover {
    cursor: pointer;
    background-color: rgb(9, 9, 49);
}