* {
    margin: 0%;
    padding: 0%;

}

body {
    background: url("https://images.unsplash.com/photo-1614895268522-28e3ff06e4e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat center center/cover;

}

h1 {
    background-color: rgb(26, 18, 42);
    margin: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
}

.main {
    padding: 15px;
    height: 65vh;
    width: 500px;
    margin: 100px auto;
    background-color: rgb(206, 243, 222);

    border-radius: 10px;
    text-align: center;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.label {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 90px;

    width: 300px;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;

}

/* input:hover {
    transition: all, 1s;
    transform: scale(1.05);
} */


.ema {
    margin: 10px;
    padding: 8px 10px;

}

.pass {
    margin: 10px;
    padding: 8px 10px;
}

.form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */

    border-radius: 8px;
    padding: 10px;
}

#email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 111px;
    width: 268px;
}

#password {
    width: 268px;
    display: flex;
    margin-top: 0px;
    border-radius: 8px;
    padding: 10px;
    margin-right: 18px;
    margin-left: 111px;
}

#btn {
    margin-top: 15px;
    color: white;
    background-color: rgb(19, 53, 19);
    border-radius: 8px;
    padding: 10px 22px;
    border: none;
    width: 180px
}

#btn:hover {
    transition: all, 2s;
    transform: scale(1.1);
}